{% extends 'template.html' %}

{% block content %}
<div class="vertical-spacer-lg"></div>
  <h1 class="text-center">TSP Challenge</h1>
  <div class="vertical-spacer-md"></div>
  <div class="table-responsive rounded">
    <table class="table table-surface table-hover table-responsive mb-0">
      <thead>
        <tr>
          <th>Name</th>
          <th class="text-end">Score</th>
        </tr>
      </thead>
      <tbody>
        {% for submission in submissions %}
        <tr>
          <td>{{ submission.name }}</td>
          <td class="text-end">{{ submission.score|floatformat:1 }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
</div>
{% endblock %}
