{% extends 'template.html' %}

{% block content %}
<div class="vertical-spacer-lg"></div>
<div class="container d-flex flex-column align-items-center">
    <h1>Submit Solution</h1>
    <form method="POST" action="{% url 'submit' %}">
        <input type="text" name="name" placeholder="Name" value="{{ old.name|default:'' }}">
        <input type="text" name="solution" placeholder="Solution">
        <button type="submit" class="btn btn-accent">Submit</button>
    </form>
    {% if error %}
    <div class="bg-danger-subtle">
        {{ error }}
    </div>
    {% endif %}
</div>
{% endblock %}
