{% extends 'template.html' %}

{% block content %}
<div class="vertical-spacer-lg"></div>
<h1 class="text-center">Submit Solution</h1>
<div class="vertical-spacer-md"></div>
<div class="container rounded bg-surface-variant">
    <form method="POST" action="{% url 'submit' %}" class="d-flex flex-column bg-surface-variant p-3 rounded">
        <label for="name" class="form-label">Name</label>
        <input id="name" class="form-control bg-surface" type="text" name="name" placeholder="Name" value="{{ old.name|default:'' }}" required>

        <label for="solution" class="form-label mt-2">Solution</label>
        <input id="solution" class="form-control bg-surface" type="text" name="solution" placeholder="Solution" required>

        {% if error %}
        <div class="mt-3 bm-3 p-1 text-danger">
            {{ error }}
        </div>
        {% endif %}

        <button type="submit" class="btn btn-accent mt-3">Submit</button>
    </form>
</div>
{% endblock %}
