{% load static %}

<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
        <link rel="stylesheet" href="{% static 'css/styles.css' %}">

        <title>TSP Challenge</title>
    </head>
    <body class="bg-surface">
        <nav class="navbar navbar-expand-lg fixed-top bg-surface">
            <div class="container-fluid">
                <a class="navbar-brand" href="#">TSP Challenge</a>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav me-auto">
                        <li class="nav-item">
                            <a class="nav-link active" href="#">Submit</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>

        <div class="vertical-spacer-md"></div>

        <main>
            {% block content %}{% endblock %}
        </main>
    </body>
</html>
