.vertical-spacer-sm {
    height: 2em;
}

.vertical-spacer-md {
    height: 5em;
}

.vertical-spacer-lg {
    height: 20em;
}

main {
    max-width: 40em;
    margin-left: auto;
    margin-right: auto;
    padding-left: 2em;
    padding-right: 2em;
}

.table-surface {
    --bs-table-color: #000;
    --bs-table-bg: #dedede;
    --bs-table-border-color: #9e9e9e;
    --bs-table-hover-bg: #cecece;
}

.table tbody tr:last-child td {
    border-bottom: none;
}

main a {
    text-decoration: none;
    color: var(--bs-accent);
}

main p {
    text-align: justify;
}
